body{margin:0;font-family:lucida grande,tahoma,verdana,arial,sans-serif;background:#e9eaed}
.old-box{background:white;border:1px solid #dddfe2;border-radius:2px}
.blue-btn{background:#3b5998;color:white;border:none;padding:7px 15px;font-weight:bold;cursor:pointer}
.green-btn{background:#69a74e;color:white;border:none;padding:7px 15px;font-weight:bold;cursor:pointer}
.input-old{width:100%;padding:8px;border:1px solid #bdc7d8;margin-bottom:10px;box-sizing:border-box}
